main{
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span{
  margin: 0.1rem;
}

.cartItemPhoto {
  height: 100px;
  width: 120px;
}

/* 
'ml-auto' was not working
*/
.ml-auto, .mx-auto {
  margin-left: auto!important;
}



.btn-wd {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width:100%;   
}
